/* chart.css */
.body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Navbar */
.body .navbar-menu-container {
  position: fixed;
  top: 79px;
  left: 0;
  height: 100%; /* Chiều cao tương đương với chiều cao của trang */
  z-index: 1000; /* Đảm bảo navbar hiển thị trên các phần khác */
}
/* .body .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Đảm bảo hiển thị trên các phần khác */
.namepage {
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 10vh;
  margin-left: 18vw;
  width: 80vw;
  color: #074979;
}
.select-tag {
  margin-left: 80%;
  margin-top: -25px;
  width: fit-content;
}
.general-kpi {
  margin-top: 2vw;
  margin-left: 18vw;
  width: 77vw;
  border: 3px solid #074979;
  border-radius: 15px;
  box-sizing: content-box;
}
.two-chart {
  padding-left: 2vw;
  padding-bottom: 2vw;
  /* width: 80vw; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Column chart */
.body .columnchart-container {
  margin-top: 2vw;
  margin-left: 2vw;
  width: 56vw !important;
  height: 45vh !important;
  overflow-x: auto;
}
canvas {
  overflow: scroll;
  /* border: 3px solid black;
  border-radius: 20px; */
  background-color: white;
  /* width: 60vw !important; */
  height: 45vh !important;
  /* box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25); */
  /* margin-left: 24%; */
}

/* Tùy chỉnh màu và độ dày của đường viền */
.columnchart-container canvas.chartjs-render-monitor {
  border: 3px solid black;
}

/* Tùy chỉnh màu của tiêu đề biểu đồ => Đang không dùng được*/
.columnchart-container .chart-title {
  color: black !important;
  font-size: 50px;
}

/* Tùy chỉnh màu của các nhãn trên trục y => Đang không dùng được*/
.columnchart-container .chart-y-axis {
  color: black;
}

.name2 {
  margin-left: 3.5vw;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  color: #074979;
}
/* Round chart */
.round-chart {
  margin-top: 20px;
  /* margin-left: 70%; */
  margin-bottom: 0%;
  margin-left: 15vw;

  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}
.sum-rate-wrap {
  --c1: #c1262c;
  --c2: #db5c23;
  --c3: #f69220;
  --c4: #8ba247;
  --c5: #23b473;
  --c6: #2390b4;
  --c7: #2360b4;
  --c8: #2330b4;
}

/* .sum-rate {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(
    var(--dynamic-color) 0%,
    var(--dynamic-color) var(--percentage),
    #e0e0e0 var(--percentage),
    #e0e0e0 100%
  );
}

.sum-rate-text {
  position: absolute;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 900;
} */

.kpi-status-current {
  /* margin-top: 20px;
  /* margin-left: 250px; */
  /* margin-right: 20px;
  margin-bottom: 20px;  */

  text-align: center;
  box-shadow: none;
}
.kpi-status-current-chart {
  box-shadow: none;
}

/* Chi tiết */
.detailKPI {
  margin-top: 4vw;
  margin-left: 18vw;
  border: 3px solid #074979;
  border-radius: 15px;
  box-sizing: content-box;
  margin-bottom: 4vw;
  width: 77vw !important;
  height: fit-content;
  border-radius: 15px;
}

.detail-tittle {
  font-size: 28px;
  font-weight: 600;
  margin-left: 3.5vw;
  margin-top: 2vw;
  color: #074979;
  width: 100%;
}
.select-level {
  margin-left: 82%;
  margin-top: -30px;
}

/* Đề xuất */
.suggest {
  width: 85%;
  margin: 2vw auto;
  align-items: center;
  justify-items: center;
  padding: 2vw;
  border-radius: 15px;
  border: 2px solid #074979;
  background-color: #ffff;
}
.suggest-name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 1vw;
  text-align: center;
  color: #074979;
}
.suggest-notice {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #e82222;
}
.suggest-data {
  width: auto;
  /* margin: 1vw auto; */
  padding: 2vw;
  background-color: #ffff;
  display: flex;
}

/* Chi tiết từng hoạt động */
.collapse-activity {
  width: 90%;
  margin: 2vw auto;
  border-radius: 15px;
  border: 2px solid #517fa1;
  color: #ffff !important;
  background-color: #d4e8f6;
  font-size: 20px;
  font-weight: 600;
  z-index: 100;
}
.ant-collapse-header {
  color: #074979 !important;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #074979;
}
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-expand-icon {
  padding-top: 12px;
}
.detailKPI .activityKPI1,
.activityKPI2,
.activityKPI3,
.activityKPI4,
.activityKPI5,
.activityKPI6,
.activityKPI7,
.activityKPI8,
.activityKPI9,
.activityKPI10,
.activityKPI11,
.activityKPI12,
.activityKPI13,
.activityKPI14,
.activityKPI15,
.activityKPI16,
.activityKPI17,
.activityKPI18 {
  /* width: 85%; */
  margin: 2vw auto;
  /* padding: 2vw; */
  /* border-radius: 15px;
  border: 2px solid #074979; */
  background-color: #ffff;
  display: flex;
}
.activity-content {
  width: 70%;
  margin-left: 20px;
}
.activity-name {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  margin-top: -10px;
  margin-left: 30px;
  color: white;
}
.activity-name-sub {
  box-sizing: border-box;
  color: #074979;
  /* background-color: #d4e8f6; */
  border: 1px solid #074979;
  border-radius: 15px;
  padding: 3px 10px;
}
.activity-content .activity-name-tag {
  margin-left: 10px;
  font-size: 18px;
}
.complete-rate,
.each-time,
.need-time {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
  margin-left: 40px;
  color: #517fa1;
}
.request-view-activity {
  font-size: 18px;
  font-weight: 800;
  margin-top: 15px;
  margin-left: 40px;
  color: #074979;
}
.activity-chart {
  width: 50%;
}

.activity-chart-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
/* @media (min-width: 768px) {
  .namepage {
    font-size: 3vw;
  }

  .name2,
  .detail-tittle,
  .suggest-name,
  .suggest-notice,
  .collapse-activity {
    font-size: 2.5vw;
  }

  .suggest-data {
    flex-direction: row;
  }

  .columnchart-container,
  .general-kpi,
  .detailKPI,
  .collapse-activity {
    width: 78vw;
  }

  .two-chart {
    flex-direction: row;
  }
} */

@media only screen and (max-width: 430px) {
  .namepage {
    /* text-align: center;
    font-size: 22px;
    margin-top: 5vh; */
    display: none;
  }
  .navbar-menu-container {
    position: relative;
  }

  .select-tag {
    margin-left: 58%;
    margin-top: 2vw;
    width: fit-content;
  }
  .general-kpi {
    margin-top: 2vw;
    margin-left: 5vw;
    width: 90%;
  }
  .two-chart {
    /* padding-left: 2vw;
    padding-bottom: 2vw;
    width: 80vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Column chart */
  .body .columnchart-container {
    margin-left: 2vw;
    margin-bottom: 2vw;
    width: 90% !important;
    height: 60vw !important;
  }
  canvas {
    overflow: scroll;
    /* border: 3px solid black;
    border-radius: 20px; */
    background-color: white;
    /* width: 60vw !important; */
    height: 60vw !important;
    /* box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25); */
    /* margin-left: 24%; */
  }
  .name2 {
    margin-left: 3.5vw;
    font-size: 18px;
  }

  /* Chi tiết */
  .detailKPI {
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 80px !important;
    width: 90% !important;
  }

  .detail-tittle {
    font-size: 18px;
    margin-left: 3.5vw;
    margin-top: 2vw;
    width: 100%;
  }
  .select-level {
    margin-left: 53%;
    margin-top: -10px;
  }

  /* Đề xuất */
  .suggest {
    margin: 2vw auto;
  }
  .suggest-name {
    font-size: 15px;
  }
  .suggest-notice {
    font-size: 14px;
  }
  .suggest-data {
    width: auto;
    /* margin: 1vw auto; */
    padding: 1vw;
    display: flex;
    flex-direction: column;
    padding: auto;
  }

  /* Chi tiết từng hoạt động */
  .collapse-activity {
    width: 90%;
    margin: 2vw auto;

    font-size: 14px;
    font-weight: bold;
    z-index: 100;
  }
  .ant-collapse
    > .ant-collapse-item
    > .ant-collapse-header
    .ant-collapse-expand-icon {
    padding-top: 0px;
  }
  .detailKPI .activityKPI1,
  .activityKPI2,
  .activityKPI3,
  .activityKPI4,
  .activityKPI5,
  .activityKPI6,
  .activityKPI7,
  .activityKPI8,
  .activityKPI9,
  .activityKPI10,
  .activityKPI11,
  .activityKPI12,
  .activityKPI13,
  .activityKPI14,
  .activityKPI15,
  .activityKPI16,
  .activityKPI17,
  .activityKPI18 {
    display: flex;
    flex-direction: column;
  }
  .activity-content {
    width: 90%;
    flex-direction: column;
    text-align: left;
  }
  .activity-name {
    font-size: 14px;

    margin-top: -10px;
    margin-left: 10px;
  }
  .activity-name-sub {
    margin: 8px;
  }
  .activity-content .activity-name-tag {
    margin-left: 10px;
    font-size: 18px;
  }
  .complete-rate,
  .each-time,
  .need-time {
    font-size: 14px;
    margin-top: 1vw;

    margin-left: 0px;
  }
  .request-view-activity {
    font-size: 16px;
    margin-left: 0px;
  }
  .activity-chart {
    width: 100%;
  }
}
